<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698661251276-u72e09ar428g9bqvquhhahsni89l7kh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698661251276-u72e09ar428g9bqvquhhahsni89l7kh9</string>
	<key>API_KEY</key>
	<string>AIzaSyCPmZ7A8ya6u4bBIt6aDinfbvkSthJQaKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>698661251276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.aybarsacar.Social</string>
	<key>PROJECT_ID</key>
	<string>social-7ec40</string>
	<key>STORAGE_BUCKET</key>
	<string>social-7ec40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698661251276:ios:59b5e9023631ebea5e3a69</string>
</dict>
</plist>